$transparent: transparent;
$color-app-background: #282c34;
$color-white: #ffffff;
$color-black: #000000;
$color-off-white: #bcbcbc;


// loader
$border-top-color_1: #3498db;
$border-top-color_2: #fff;
$border-top-color_3: hsl(47, 95%, 55%);

$color-loader-background: #002fc9;